services:
  chat-service:
    container_name: chat-service
    build:
      context: .
      dockerfile: Dockerfile
    env_file:
      - .env
    ports:
      - "8081:8081"
    depends_on:
      - postgres
      - redis

  postgres:
    container_name: postgres
    image: postgres:latest
    env_file:
      - .env
    ports:
      - "5432:5432"
    # uncomment to persist data
    # volumes:
    #   - postgres_data:/var/lib/postgresql/data

  pgadmin:
    container_name: pgadmin
    image: dpage/pgadmin4:latest
    environment:
      - PGADMIN_DEFAULT_EMAIL=admin@admin.com
      - PGADMIN_DEFAULT_PASSWORD=admin
    ports:
      - "5431:80"
    depends_on:
      - postgres

  redis:
    container_name: redis
    image: redis:7.0
    ports:
      - "6379:6379"
    restart: unless-stopped

# Uncomment if you want persistent Postgres storage
#volumes:
#  postgres_data:
