spring:
  datasource:
    url: jdbc:postgresql://${DB_HOST:192.168.0.142}:${DB_PORT:5432}/${DB_NAME:mydatabase}
    username: ${DB_USERNAME:myuser}
    password: ${DB_PASSWORD:secret}
    driver-class-name: org.postgresql.Driver
  jpa:
    open-in-view: false
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        format_sql: true
        jdbc:
          time_zone: UTC
    show-sql: false
  jackson:
    serialization:
      write-dates-as-timestamps: false
    time-zone: UTC
  data:
    redis:
      repositories:
        enabled: false
logging:
  level:
    root: INFO
    org.springframework.web: INFO
    org.hibernate.SQL: WARN
server:
  port: 8081